<%- include("header") -%>

<h2>About Page</h2>

<p>Pensando mais a longo prazo, a necessidade de renovação processual apresenta tendências no sentido de aprovar a manutenção de todos os recursos funcionais envolvidos.</p>

<%- include("footer") -%>
